body {
  font-family: Tahoma, Verdana;
  font-size: 12px;
  background-color: #1c8cbc;
  color: #000;
  scrollbar-face-color: #DEE3E7;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-shadow-color: #DEE3E7;
  scrollbar-3dlight-color: #D1D7DC;
  scrollbar-arrow-color: #006699;
  scrollbar-track-color: #EFEFEF;
  scrollbar-darkshadow-color: #98AAB1;
}

a:link, a:visited, a:active {
  color: #BD1010;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #FF6600;
  text-decoration: underline;
}

.menu {
  font-size: 14px;
  color: #BD1010;
  padding-left: 20px;
  padding-top: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
}

.menu li a {
  display: block;
  padding: 6px;
  background-color: #FFFFFF;
  color: red;
  border-radius: 4px;
}

.menu li a:hover {
  background-color: #DDDDDD;
}

.titulo {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
}

.titulond {
  font-size: 11px;
  color: #FFFFFF;
}

.header-row {
  background-color: #BD1010;
}

.footer-row {
  background-color: #d49404;
}

.menu-column {
  width: 200px;
  background-color: #DDDDDD;
  border: 1px solid #1c8cbc;
  padding: 10px;
  margin: 0 auto; /* Centraliza o menu na página */
}

.iframe-column {
  border: 1px solid #1c8cbc;
}

iframe {
  background-color: #FFFFFF;
  border: none;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
}

.header-row td,
.footer-row td {
  text-align: center;
}
